default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  host: db
  database: darts_events_development
  username: postgres
  password: password

test:
  <<: *default
  host: db
  database: darts_events_test
  username: postgres
  password: password

production:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL") %>